html,
body{
  height: 100%;
  background: #213c2c;
}

body {
  font-family: $default-font;
}

main {
  height: 100%;
}

a {
  color: $light-green;

  &:hover {
    color: $light-green;
    text-decoration: none;

  }
}

label {
  width: 100%;
  position: relative;

  span {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    transform: translate(0, -20px);
    color: $light-green;
    font-size: 12px;
    font-weight: 500;
  }

  input[type=number]:not(:focus):placeholder-shown ~ span,
  input[type=text]:not(:focus):placeholder-shown ~ span {
    transform: translate(10px, -4px);
    color: $red;
    top: 12px;
    font-size: 16px;

    @include sm() {
      font-size: 12px;
    }
  }
}

select,
input {
  background-color: hsla(0, 0%, 100%, .15);
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  height: 41px;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.7) inset !important;
    -webkit-text-fill-color: white;
  }

  @include sm() {
    font-size: 12px;
    padding: 5px;
    height: 35px;
  }
}

input[type=button],
input[type=submit],
{
  min-height: unset;
  height: unset;
}

ul {
  list-style-type: none;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.hide {
  display: none;
}

.logo {
  background-image: url(./../img/logo.png);
  background-position: 50% 50%;
  background-size: cover;
  width: 70px;
  height: 70px;
  position: relative;
  font-weight: 700;

  &:before {
    content: 'Daily';
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    content: "Costs";
    position: absolute;
    bottom: -5px;
    right: 0;
  }
}

#lk {
  background: #213c2c;
  color: white;
  height: 100%;
  min-height: 650px;
  position: relative;

  @include sm() {
    min-height: 450px;
  }

  .list-header {
    background: #1d643b;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 5px;
    display: flex;
    text-align: center;

    @include sm() {
      font-size: 15px;
    }
  }

  .list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 70vh;

    &::-webkit-scrollbar {
      border-radius: 100px;
      max-width: 5px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: $dark-grey;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    &::-webkit-scrollbar-track-piece {
      background: $dark-green;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .row {
      padding: 5px;
      align-items: center;

      &:nth-of-type(2n) {
        background: $light-green;
      }

      &:hover {
        //background: $green-gradient;

        .list-btn-group {
          position: absolute;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background: linear-gradient(to right, transparent, $dark-green 40%, $dark-green 60%, transparent);
        }
      }

      .list-btn-group {
        display: none;

        img {
          height: 32px;
          cursor: pointer;
          float: right;
          margin: 0 15px;
          opacity: 0.7;
          transition: 0.3s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .paginated-list {
    white-space: nowrap;
    .col {
      overflow: hidden;
    };
  }

  .header-text {
    font-weight: 500;
    font-size: 26px;

    @include sm() {
      padding-left: 100px;
      font-size: 20px;
    }
  }

  .btn-group {
    float: right;

    @include md() {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    .btn {
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      display: block;
      border-radius: 2px;
      background-image: $green-gradient;
      position: relative;
      letter-spacing: .2px;
      color: #fff;
      line-height: 1.43;
      border: none;
      transition: all 0.3s linear;

      &:hover {
        background: $green-gradient-reverse;
      }

      &:focus {
        outline: none;
      }

      @include maxW1600() {
        font-size: 13px;
        padding: 10px 10px;
      }
      @include maxW1440() {
        font-size: 12px;
        padding: 8px 10px;
      }
    }
  }
}

.red {
  color: $red;
}

.mw-10 {
  max-width: 10%;
}

.mw-100 {
  max-width: 100%;
}
