@import '../variables';

.details {
  height: 75vh;
  overflow: auto;

  .greed-details {
    display: grid;
    grid-template-columns: 8fr 2fr 3fr 3fr 1fr;
    grid-gap: 1vw;
    padding-bottom: 15px;

    &:first-of-type {
      padding-top: 10px;
    }

    input[type=text] {
      padding: 5px!important;
    }
  }

  img {
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    border-radius: 100px;
    max-width: 5px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  &::-webkit-scrollbar-track-piece {
    background: $dark-green;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.btn {
  &.red {
    background: $red-gradient!important;

    &:hover {
      background: $red-gradient-reverse!important;
    }
  }
}
