.vm--modal {
  background-color: $dark-grey !important;
  color: white;
  border-radius: 10px;
  padding: 20px 35px;
  height: auto !important;
  margin: auto !important;
  left: 0 !important;
  top: 100px !important;
  //overflow: auto;

  select,
  input {
    padding: 10px;
  }

  .vue-dialog-buttons {
    border: none;
  }

  .dialog-c-title {
    text-align: center;
  }

  .btn {
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    display: block;
    border-radius: 2px;
    background-image: $green-gradient;
    position: relative;
    letter-spacing: .2px;
    color: #fff;
    line-height: 1.43;
    border: none;
    transition: all 0.3s linear;
    margin: 10px;

    &:hover {
      background: $green-gradient-reverse;
    }

    &:focus {
      outline: none;
    }

    @include maxW1600() {
      font-size: 13px;
      padding: 10px 10px;
    }
    @include maxW1440() {
      font-size: 12px;
      padding: 8px 10px;
    }

    &.red {
      background: $red-gradient;

      &:hover {
        background: $red-gradient-reverse;
      }
    }
  }

  .selection {
    background-color: hsla(0, 0%, 100%, .15);
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    //padding: 17px 23px;
    border: none;
    border-radius: unset;

    input {
      padding: 12px 17px;
    }

    .menu {
      border: none;
      outline: none;

      .item {
        border: none;
      }

      .selected {
        color: white;
        background: $grey;
      }
    }
  }
}

.vm--large > .vm--modal {
  width: 800px !important;

  &.vue-dialog {
    width: 400px !important;
  }
}